* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #aaa;
}

/* START HEADER STYLING */

header {
    padding: 30px 20px;
    color: #4b9cd3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
}

header h1 {
    font-size: 30px;
}

.high-score-btn {
    background: #4b9cd3;
    padding: 6px 12px;
    color: #222;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.high-score-btn:hover {
    background: orangered;
}

/* END HEADER STYLING */

/* START FOOTER STYLING */

footer {
    padding: 20px;
    color: #4b9cd3;
    background-color: #222;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END FOOTER STYLING */

/* START MAIN PAGE STYLING */

main {
    text-align: center;
    padding: 40px;
    min-height: 500px;
}

.question-block {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    padding: 10px;
}

.start-btn {
    margin: 20px;
    padding: 6px 12px;
    font-size: 17px;
    background: #4b9cd3;
    outline: none;
    border: none;
}

.answer-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.answer-choice {
    padding: 14px 17px;
    background: #4b9cd3;
    color: #222;
    font-size: 17px;
    margin: 14px 0;
    text-align: left;
    font-weight: bolder;
}

/* END MAIN PAGE STYLING */